body {
  background-image: url("bg-pattern-top-desktop.svg"), url("bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100vh, 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Spartan', sans-serif;
  font-size: 0.9375em;
}

main {
  margin: 5%;
  padding: 0;
  position: relative;
}

h1 {
  font-size: 2.9rem;
  line-height: 1;
  width: 36%;
  margin: 0 0;
  color: hsl(300, 43%, 22%);
}

h2 {
  color: hsl(300, 24%, 96%);
  font-size: inherit;
  display: inline-block;
  position: absolute;
  top: 15%;
}

h3 {
  font-size: inherit;
  color: hsl(333, 80%, 67%);
  font-weight: normal;
  display: inline-block;
  position: relative;
  bottom: 8px;
}

p {
  line-height: 1.4;
}

img {
  width: 4.5%;
  padding: 0 5px;
}

.user-ratings {
  clear: left;
  display: inline-block;
}

.we-provide {
  width: 42%;
  display: inline-block;
  color: hsl(303, 10%, 53%);
  padding-bottom: 70px;
  line-height: 1.5;
  font-weight: 500;
}

.five-stars-div {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  clear: left;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.five-stars-top {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  padding: 15px 50px 15px 20px;
  width: 410px;
  position: relative;
  right: 100px;
}

.five-stars-middle {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  padding: 15px 50px 15px 20px;
  width: 410px;
  position: relative;
  right: 50px;
}

.five-stars-bottom {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  padding: 15px 50px 15px 30px;
  width: 410px;
}

.right-star {
  padding-right: 30px;
}

.user-reviews {
  position: relative;
  color: hsl(300, 24%, 96%);
  font-size: 0.8rem;
}

.colton-smith {
  background-color: hsl(300, 43%, 22%);
  display: inline-block;
  border-radius: 10px;
  position: relative;
  bottom: 40px;
  width: 334px;
  height: 220px;
  padding-bottom: 10px;
}

.irene-roberts {
  display: inline-block;
  border-radius: 10px;
  width: 334px;
  height: 220px;
  position: relative;
  left: 45px;
  bottom: 20px;
  background-color: hsl(300, 43%, 22%);
  padding-bottom: 10px;
}

.anne-wallace {
  display: inline-block;
  border-radius: 10px;
  width: 334px;
  height: 220px;
  background-color: hsl(300, 43%, 22%);
  position: absolute;
  right: 0;
  padding-bottom: 10px;
}

.colton-img {
  margin: 10% auto auto 5%;
  padding-right: 20px;
  width: 48px;
  border-radius: 50%;
}

.irene-img {
  margin: 10% auto auto 5%;
  padding-right: 20px;
  width: 48px;
  border-radius: 50%;
}

.anne-img {
  margin: 10% auto auto 5%;
  padding-right: 20px;
  width: 48px;
  border-radius: 50%;
}

.colton-quote {
  margin: 7%;
  line-height: 1.5;
}

.irene-quote {
  margin: 7%;
  line-height: 1.5;
}

.anne-quote {
  margin: 7%;
  line-height: 1.5;
}
